Package: python3-gbinder
Source: gbinder-python
Version: 1.1.1-1
Architecture: amd64
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Installed-Size: 265
Depends: libc6 (>= 2.4), libgbinder (>= 1.1.20), python3 (<< 3.12), python3 (>= 3.7~)
Section: python
Priority: optional
Description: Cython extension module for C++ gbinder functions
 This package contains a cython extension module for gbinder,
 allowing to call gbinder from Python scripts.
